@import './../../styles';

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ghostwhite;
  border-radius: 4px;
  z-index: 3;
  width: 50%;
}

@media (max-width: 800px) {
  .modal-container {
    width: 80%;
  }
}