@import "./../../styles";

.header {
  padding: 1rem 0;
  background-color: $bg-card;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Ubuntu', serif;
  color: $text;
}

.logo-img {
  background-image: url('./../../assets/logo.svg');
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  margin-right: 5px;
}

.create-btn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid $highlight;
  color: $highlight;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    background-color: rgb(0, 0, 0, 0.1);
  }
}

.add-icon {
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url('./../../assets/plus.svg');
  margin-right: 5px;
}


